/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 400px;
	margin: auto;
	padding: 20px 0;
	color: rgb(80, 80, 80); 
	font-weight: lighter;
	background-color: rgba(128, 128, 128, 0.171);
}

header {
	text-align: center;
}

h1 {
	font-size: 40px;
	padding: 10px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline-block;
}

nav {
	display: block;
	text-align: center;
}

.form {
	margin: auto;
	max-width: 260px;
}

.form-container {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid rgb(182, 182, 182);
	border-radius: 2px;
	background-color: rgb(252, 252, 252);
}

.form-header {
	margin: 10px auto;
	text-align: center;
}

.form-container h2 {
	padding: 0 10px 30px;
	font-size: 24px;
	color: rgb(73, 73, 73);

}

label {
	display: block;
	padding: 10px 10px;
}

input {
	display: block;
	padding: 6px 0;
	margin: 10px auto;
	border-radius: 2px;
	border: 1px solid rgba(156, 156, 156, 0.774);
	width: 340px;
	font-size: 18px;
	font-weight: lighter;
	font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: grey;
}

.form-container a {
	font-size: 12px;
	color: rgb(4, 132, 218);
}

input[type='submit'] {
	padding: 10px 80px;
	border-radius: 5px;
	border-color: transparent;
	box-shadow: 1px 1px rgba(102, 102, 102, 0.884);
	background-color: rgba(46, 120, 216, 0.918);
	color: white;
	font-size: 16px;
	font-weight: 300;
}

.input-caption {
	font-size: 14px;
}

.agreement {
	padding: 40px;
	font-size: 14px;
	font-style: italic;
	line-height: 20px;
	text-align: center;
}

.recaptcha {
	margin: -20px;
	padding: 16px;
	background-color: rgba(223, 219, 219, 0.616);
	font-size: 10px;
	text-align: center;
}

.caption {
	color: rgb(107, 107, 107); 
}

footer {
	margin: 0 -60px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}
